# F1 Project Data Merger
## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import Data Sets

In [26]:
drid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\driverID.pkl')
cnid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructorID.pkl')
crcid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\circuitID.pkl')
rcs = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\races.pkl')
qul = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\qualifying.pkl')
pit = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\pit_stops.pkl')
res = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\race_results.pkl')
lapt = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\lap_times.pkl')

In [28]:
drid.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish

## 03. Data Merger

In [31]:
#merging driverID on results
dr_merge = drid.merge(res, on = ['driverId','number'])
#removing unwanted column
dr_merge = dr_merge.drop('dob', axis = 1)
dr_merge

,driverId,driverRef,number,code,forename,surname,nationality,resultId,raceId,constructorId,...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,hamilton,44,HAM,Lewis,Hamilton,British,22148,900,131,...,19,0.0,2,\N,\N,2,20,1:49.947,173.636,5
1,1,hamilton,44,HAM,Lewis,Hamilton,British,22152,901,131,...,1,25.0,56,1:40:25.974,6025974,53,1,1:43.066,193.611,1
2,1,hamilton,44,HAM,Lewis,Hamilton,British,22174,902,131,...,1,25.0,57,1:39:42.743,5982743,49,2,1:37.108,200.634,1
3,1,hamilton,44,HAM,Lewis,Hamilton,British,22196,903,131,...,1,25.0,54,1:33:28.338,5608338,42,2,1:41.196,193.916,1
4,1,hamilton,44,HAM,Lewis,Hamilton,British,22218,904,131,...,1,25.0,66,1:41:05.155,6065155,54,3,1:29.483,187.275,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,858,sargeant,2,SAR,Logan,Sargeant,American,25901,1100,3,...,16,0.0,56,\N,\N,50,13,1:21.456,233.264,4
3875,858,sargeant,2,SAR,Logan,Sargeant,American,25921,1101,3,...,16,0.0,51,+1:40.943,5663379,49,17,1:46.501,202.916,1
3876,858,sargeant,2,SAR,Logan,Sargeant,American,25945,1102,3,...,20,0.0,56,\N,\N,50,19,1:32.384,210.893,11
3877,858,sargeant,2,SAR,Logan,Sargeant,American,25963,1104,3,...,18,0.0,76,\N,\N,32,13,1:17.302,155.406,12
3878,858,sargeant,2,SAR,Logan,Sargeant,American,25985,1105,3,...,20,0.0,65,\N,\N,41,20,1:19.247,211.556,11

In [32]:
dr_merge.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname',
       'nationality', 'resultId', 'raceId', 'constructorId', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId'],
      dtype='object')

In [34]:
#renaming column to resolve potential conflict
cnid = cnid.rename(columns = {'nationality':'con_nat'})
cnid.head()

   constructorId constructorRef        name  con_nat
0              1        mclaren     McLaren  British
1              2     bmw_sauber  BMW Sauber   German
2              3       williams    Williams  British
3              4        renault     Renault   French
4              5     toro_rosso  Toro Rosso  Italian

In [35]:
#exporting change
cnid.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructorID.pkl')

In [36]:
#merging constructorID to dr_merge
dr_merge = dr_merge.merge(cnid, on = 'constructorId')
dr_merge

,driverId,driverRef,number,code,forename,surname,nationality,resultId,raceId,constructorId,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,constructorRef,name,con_nat
0,1,hamilton,44,HAM,Lewis,Hamilton,British,22148,900,131,...,\N,\N,2,20,1:49.947,173.636,5,mercedes,Mercedes,German
1,1,hamilton,44,HAM,Lewis,Hamilton,British,22152,901,131,...,1:40:25.974,6025974,53,1,1:43.066,193.611,1,mercedes,Mercedes,German
2,1,hamilton,44,HAM,Lewis,Hamilton,British,22174,902,131,...,1:39:42.743,5982743,49,2,1:37.108,200.634,1,mercedes,Mercedes,German
3,1,hamilton,44,HAM,Lewis,Hamilton,British,22196,903,131,...,1:33:28.338,5608338,42,2,1:41.196,193.916,1,mercedes,Mercedes,German
4,1,hamilton,44,HAM,Lewis,Hamilton,British,22218,904,131,...,1:41:05.155,6065155,54,3,1:29.483,187.275,1,mercedes,Mercedes,German
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,839,ocon,31,OCO,Esteban,Ocon,French,23289,964,209,...,\N,\N,33,20,1:38.380,212.494,11,manor,Manor Marussia,British
3875,839,ocon,31,OCO,Esteban,Ocon,French,23308,965,209,...,\N,\N,46,11,1:43.585,191.599,12,manor,Manor Marussia,British
3876,839,ocon,31,OCO,Esteban,Ocon,French,23333,966,209,...,\N,\N,43,21,1:24.964,182.364,12,manor,Manor Marussia,British
3877,839,ocon,31,OCO,Esteban,Ocon,French,23346,967,209,...,+45.809,10907144,47,16,1:27.796,176.686,1,manor,Manor Marussia,British
3878,839,ocon,31,OCO,Esteban,Ocon,French,23369,968,209,...,\N,\N,46,15,1:46.189,188.290,11,manor,Manor Marussia,British

In [37]:
#creating merged set for circuits and races
rcs_merge = rcs.merge(crcid, on = ['circuitId'])
rcs_merge

,raceId,year,round,circuitId,name_x,date,time,quali_date,quali_time,sprint_date,sprint_time,circuitRef,name_y,location,country,lat,lng,alt
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1075,2022,2,77,Saudi Arabian Grand Prix,2022-03-27,17:00:00,2022-03-26,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1097,1099,2023,2,77,Saudi Arabian Grand Prix,2023-03-19,17:00:00,2023-03-18,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1098,1078,2022,5,79,Miami Grand Prix,2022-05-08,19:30:00,2022-05-07,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1099,1102,2023,5,79,Miami Grand Prix,2023-05-07,19:30:00,2023-05-06,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1100,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,2023-11-18,08:00:00,\N,\N,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.1730,\N

In [38]:
#renaming columns
rcs_merge = rcs_merge.rename(columns = {'name_x':'gp_name', 'name_y':'circ_name'})

In [40]:
rcs_merge

,raceId,year,round,circuitId,gp_name,date,time,quali_date,quali_time,sprint_date,sprint_time,circuitRef,circ_name,location,country,lat,lng,alt
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1075,2022,2,77,Saudi Arabian Grand Prix,2022-03-27,17:00:00,2022-03-26,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1097,1099,2023,2,77,Saudi Arabian Grand Prix,2023-03-19,17:00:00,2023-03-18,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1098,1078,2022,5,79,Miami Grand Prix,2022-05-08,19:30:00,2022-05-07,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1099,1102,2023,5,79,Miami Grand Prix,2023-05-07,19:30:00,2023-05-06,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1100,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,2023-11-18,08:00:00,\N,\N,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.1730,\N

In [41]:
dr_merge.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname',
       'nationality', 'resultId', 'raceId', 'constructorId', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat'],
      dtype='object')

In [43]:
#merging dr_merge and rcs_merge
formula_full = dr_merge.merge(rcs_merge, on = 'raceId')
formula_full.head()

,driverId,driverRef,number,code,forename,surname,nationality,resultId,raceId,constructorId,...,quali_time,sprint_date,sprint_time,circuitRef,circ_name,location,country,lat,lng,alt
0,1,hamilton,44,HAM,Lewis,Hamilton,British,22148,900,131,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
1,3,rosberg,6,ROS,Nico,Rosberg,German,22130,900,131,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
2,4,alonso,14,ALO,Fernando,Alonso,Spanish,22133,900,6,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
3,8,raikkonen,7,RAI,Kimi,Räikkönen,Finnish,22136,900,6,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
4,18,button,22,BUT,Jenson,Button,British,22132,900,1,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10

In [44]:
formula_full.shape

(3879, 43)

In [45]:
formula_full.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname',
       'nationality', 'resultId', 'raceId', 'constructorId', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time_x',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat',
       'year', 'round', 'circuitId', 'gp_name', 'date', 'time_y', 'quali_date',
       'quali_time', 'sprint_date', 'sprint_time', 'circuitRef', 'circ_name',
       'location', 'country', 'lat', 'lng', 'alt'],
      dtype='object')

In [46]:
#exporting backup
formula_full.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\fullsetbackup.pkl')