# F1 Project Lap Times
## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Import Data

In [3]:
lapt = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\lap_times.pkl')
drid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\driverID.pkl')
cnid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructorID.pkl')
crcid = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\circuitID.pkl')
rcs = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\races.pkl')

In [4]:
lapt

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
546032    1105       844   62        12  1:19.035         79035
546033    1105       844   63        12  1:19.096         79096
546034    1105       844   64        12  1:19.502         79502
546035    1105       844   65        12  1:18.922         78922
546036    1105       844   66        12  1:19.271         79271

[546037 rows x 6 columns]

## 03. Merger

In [5]:
drid.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob',
       'nationality'],
      dtype='object')

In [6]:
 drid = drid.drop('dob', axis = 1)

In [8]:
#adding driver information
lap_merge = drid.merge(lapt, on = 'driverId')
lap_merge

,driverId,driverRef,number,code,forename,surname,nationality,raceId,lap,position,time,milliseconds
0,1,hamilton,44,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100573
1,1,hamilton,44,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93774
2,1,hamilton,44,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92900
3,1,hamilton,44,HAM,Lewis,Hamilton,British,841,4,2,1:32.582,92582
4,1,hamilton,44,HAM,Lewis,Hamilton,British,841,5,2,1:32.471,92471
...,...,...,...,...,...,...,...,...,...,...,...,...
546032,858,sargeant,2,SAR,Logan,Sargeant,American,1105,61,20,1:21.280,81280
546033,858,sargeant,2,SAR,Logan,Sargeant,American,1105,62,20,1:22.134,82134
546034,858,sargeant,2,SAR,Logan,Sargeant,American,1105,63,20,1:20.420,80420
546035,858,sargeant,2,SAR,Logan,Sargeant,American,1105,64,20,1:19.980,79980
546036,858,sargeant,2,SAR,Logan,Sargeant,American,1105,65,20,1:20.254,80254

In [9]:
#importing additional data frame
rcsres = pd.read_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\race_results.pkl')

In [25]:
#merging race results with constructor id 
res_merge = rcsres.merge(cnid, on = 'constructorId')
res_merge

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,constructorRef,name,con_nat
0,1,18,1,1,22,1,1,1,1,10.0,...,1:34:50.616,5690616,39,2,1:27.452,218.300,1,mclaren,McLaren,British
1,5,18,5,1,23,3,5,5,5,4.0,...,+18.014,5708630,43,1,1:27.418,218.385,1,mclaren,McLaren,British
2,25,19,5,1,23,8,3,3,3,6.0,...,+38.450,5517005,19,7,1:35.922,208.031,1,mclaren,McLaren,British
3,27,19,1,1,22,9,5,5,5,4.0,...,+46.548,5525103,53,3,1:35.462,209.033,1,mclaren,McLaren,British
4,49,20,5,1,23,5,5,5,5,4.0,...,+26.789,5493759,49,1,1:33.193,209.062,1,mclaren,McLaren,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25975,25934,1102,839,214,31,8,9,9,9,2.0,...,+58.123,5316364,56,9,1:31.143,213.765,1,alpine,Alpine F1 Team,French
25976,25948,1104,839,214,31,3,3,3,3,15.0,...,+36.990,6568970,41,6,1:16.528,156.977,1,alpine,Alpine F1 Team,French
25977,25952,1104,842,214,10,7,7,7,7,6.0,...,+1:02.362,6594342,49,3,1:15.831,158.420,1,alpine,Alpine F1 Team,French
25978,25973,1105,839,214,31,6,8,8,8,4.0,...,+1:09.242,5347182,54,18,1:18.946,212.362,1,alpine,Alpine F1 Team,French
25979,25975,1105,842,214,10,10,10,10,10,1.0,...,+1:13.530,5351470,41,10,1:18.375,213.910,1,alpine,Alpine F1 Team,French

In [26]:
res_merge.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat'],
      dtype='object')

In [13]:
rcs.columns

Index(['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time',
       'quali_date', 'quali_time', 'sprint_date', 'sprint_time'],
      dtype='object')

In [16]:
rcs_cir = rcs.merge(crcid, on = 'circuitId')
rcs_cir

,raceId,year,round,circuitId,name_x,date,time,quali_date,quali_time,sprint_date,sprint_time,circuitRef,name_y,location,country,lat,lng,alt
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1075,2022,2,77,Saudi Arabian Grand Prix,2022-03-27,17:00:00,2022-03-26,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1097,1099,2023,2,77,Saudi Arabian Grand Prix,2023-03-19,17:00:00,2023-03-18,17:00:00,\N,\N,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15
1098,1078,2022,5,79,Miami Grand Prix,2022-05-08,19:30:00,2022-05-07,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1099,1102,2023,5,79,Miami Grand Prix,2023-05-07,19:30:00,2023-05-06,20:00:00,\N,\N,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,\N
1100,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,2023-11-18,08:00:00,\N,\N,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.1730,\N

In [18]:
rcs_cir = rcs_cir.drop('time', axis = 1)
rcs_cir = rcs_cir.rename(columns = {'name_x':'gp_name', 'name_y':'circuit'})
rcs_cir.head()

,raceId,year,round,circuitId,gp_name,date,quali_date,quali_time,sprint_date,sprint_time,circuitRef,circuit,location,country,lat,lng,alt
0,1,2009,1,1,Australian Grand Prix,2009-03-29,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
1,18,2008,1,1,Australian Grand Prix,2008-03-16,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
2,36,2007,1,1,Australian Grand Prix,2007-03-18,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
3,55,2006,3,1,Australian Grand Prix,2006-04-02,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10
4,71,2005,1,1,Australian Grand Prix,2005-03-06,\N,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.968,10

In [19]:
rcs_cir.columns

Index(['raceId', 'year', 'round', 'circuitId', 'gp_name', 'date', 'quali_date',
       'quali_time', 'sprint_date', 'sprint_time', 'circuitRef', 'circuit',
       'location', 'country', 'lat', 'lng', 'alt'],
      dtype='object')

In [27]:
res_merge.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat'],
      dtype='object')

In [28]:
res_merge2 = res_merge.merge(rcs_cir, on = 'raceId')
res_merge2

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,quali_time,sprint_date,sprint_time,circuitRef,circuit,location,country,lat,lng,alt
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
1,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
2,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
3,9,18,9,2,4,2,\N,R,9,0.0,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
4,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,\N,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25975,19255,800,512,138,43,4,\N,R,24,0.0,...,\N,\N,\N,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.7950,-86.2347,223
25976,20232,800,612,138,43,4,\N,R,24,0.0,...,\N,\N,\N,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.7950,-86.2347,223
25977,20233,800,556,138,43,4,\N,R,24,0.0,...,\N,\N,\N,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.7950,-86.2347,223
25978,19261,800,677,139,65,29,\N,R,30,0.0,...,\N,\N,\N,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.7950,-86.2347,223
25979,20236,800,805,139,65,29,\N,R,30,0.0,...,\N,\N,\N,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.7950,-86.2347,223

In [29]:
res_merge2.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat',
       'year', 'round', 'circuitId', 'gp_name', 'date', 'quali_date',
       'quali_time', 'sprint_date', 'sprint_time', 'circuitRef', 'circuit',
       'location', 'country', 'lat', 'lng', 'alt'],
      dtype='object')

In [30]:
lap_merge.columns

Index(['driverId', 'driverRef', 'number', 'code', 'forename', 'surname',
       'nationality', 'raceId', 'lap', 'position', 'time', 'milliseconds'],
      dtype='object')

In [31]:
lap_merge = lap_merge.rename(columns = {'lap':'lap_num', 'time':'lap_time', 'milliseconds':'lap_milli', 'position':'lap_pos'})

In [32]:
#merging lap times with race results
df_full = res_merge.merge(lap_merge, on = ['driverId','number','raceId'])

In [33]:
df_full

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,con_nat,driverRef,code,forename,surname,nationality,lap_num,lap_pos,lap_time,lap_milli
0,22131,900,825,1,20,4,2,2,2,18.0,...,British,kevin_magnussen,MAG,Kevin,Magnussen,Danish,1,3,1:45.402,105402
1,22131,900,825,1,20,4,2,2,2,18.0,...,British,kevin_magnussen,MAG,Kevin,Magnussen,Danish,2,3,1:37.435,97435
2,22131,900,825,1,20,4,2,2,2,18.0,...,British,kevin_magnussen,MAG,Kevin,Magnussen,Danish,3,3,1:37.917,97917
3,22131,900,825,1,20,4,2,2,2,18.0,...,British,kevin_magnussen,MAG,Kevin,Magnussen,Danish,4,3,1:36.796,96796
4,22131,900,825,1,20,4,2,2,2,18.0,...,British,kevin_magnussen,MAG,Kevin,Magnussen,Danish,5,3,1:36.766,96766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206414,25975,1105,842,214,10,10,10,10,10,1.0,...,French,gasly,GAS,Pierre,Gasly,French,62,11,1:19.178,79178
206415,25975,1105,842,214,10,10,10,10,10,1.0,...,French,gasly,GAS,Pierre,Gasly,French,63,11,1:19.232,79232
206416,25975,1105,842,214,10,10,10,10,10,1.0,...,French,gasly,GAS,Pierre,Gasly,French,64,11,1:19.524,79524
206417,25975,1105,842,214,10,10,10,10,10,1.0,...,French,gasly,GAS,Pierre,Gasly,French,65,11,1:18.990,78990
206418,25975,1105,842,214,10,10,10,10,10,1.0,...,French,gasly,GAS,Pierre,Gasly,French,66,11,1:19.118,79118

In [34]:
df_full.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'constructorRef', 'name', 'con_nat',
       'driverRef', 'code', 'forename', 'surname', 'nationality', 'lap_num',
       'lap_pos', 'lap_time', 'lap_milli'],
      dtype='object')

## 04. Export

In [35]:
df_full.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\race_lap_full.pkl')
df_full.to_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\full_check.csv')
#export to csv for manual check.